.register-content {
    --ion-background-color: #f2f2f2; 
  }
  
  .register-container {
    background-color: #42d77d;
    border-bottom-left-radius: 45px; 
    border-bottom-right-radius: 45px;
    padding: 40px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }
  
  .register-container img {
    width: 250px; 
    height: 250px;  
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    margin-bottom: -15px; 
  }
  .form-container {
    margin-top: 40px; 
  }
  .register-info {
    font-weight: bold; 
    color: white; 
    font-size: 23px; 
  }
  .padel-pp{
    color: white; 
    font-size: 15px;   
  }