

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <p class="padel-info">Šta je padel?</p>
    <p class="padel-p">Padel je najbrže rastući sport u svetu. Prijavi se i zakaži svoj prvi termin!</p>
    <img src="assets/padelGirl.png" alt="Padel girl">
  </div>
  <div class="form-container">
      <ion-grid>
        <ion-row>
          <ion-col>

            <ion-button type="submit" expand="block" shape="round" routerLink="/log-in">Prijavi se</ion-button>
          </ion-col>
        </ion-row>
          
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block" shape="round" routerLink="/register">Registruj se</ion-button>

              </ion-col>

            </ion-row>
            
           
    
       
        
      </ion-grid>
  </div>
  
</ion-content>

