<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rezervišite termin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button routerLink="/reservation/field/1">Teren 1</ion-button>
    <ion-button routerLink="/reservation/field/2">Teren 2</ion-button>
    <ion-button routerLink="/reservation/field/3">Teren 3</ion-button>
    <ion-button routerLink="/reservation/field/4">Teren 4</ion-button>
  </div>
  <div class="calendar-container">
    <ion-datetime presentation="date"></ion-datetime>
  </div>

  <div class="header-container">
    Minimum za rezervaciju je 1h
  </div>
  <div class="time-slots-container">
    <div class="time-slot" (click)="selectTime('08:00 - 09:00')" [class.clicked]="isSelected('08:00 - 09:00')">08:00 - 09:00</div>
    <div class="time-slot" (click)="selectTime('09:00 - 10:00')" [class.clicked]="isSelected('09:00 - 10:00')">09:00 - 10:00</div>
    <div class="time-slot" (click)="selectTime('10:00 - 11:00')" [class.clicked]="isSelected('10:00 - 11:00')">10:00 - 11:00</div>
    <div class="time-slot" (click)="selectTime('11:00 - 12:00')" [class.clicked]="isSelected('11:00 - 12:00')">11:00 - 12:00</div>
    <div class="time-slot" (click)="selectTime('12:00 - 13:00')" [class.clicked]="isSelected('12:00 - 13:00')">12:00 - 13:00</div>
    <div class="time-slot" (click)="selectTime('13:00 - 14:00')" [class.clicked]="isSelected('13:00 - 14:00')">13:00 - 14:00</div>
    <div class="time-slot" (click)="selectTime('14:00 - 15:00')" [class.clicked]="isSelected('14:00 - 15:00')">14:00 - 15:00</div>
    <div class="time-slot" (click)="selectTime('15:00 - 16:00')" [class.clicked]="isSelected('15:00 - 16:00')">15:00 - 16:00</div>
  </div>

  <div class="button-container">
    <ion-button routerLink="/reservation/reservation-booking">Rezervišite termin</ion-button>
  </div>






  
</ion-content>