<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rezervišite termin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button routerLink="/reservation/field/1">Teren 1</ion-button>
    <ion-button routerLink="/reservation/field/2">Teren 2</ion-button>
    <ion-button routerLink="/reservation/field/3">Teren 3</ion-button>
    <ion-button routerLink="/reservation/field/4">Teren 4</ion-button>
  </div>
  

  
</ion-content>