<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rezervišite termin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Prvi red -->
    <ion-row>
      <ion-col size="12">
        <div class="button-container">
          <ion-button *ngFor="let field of fields" (click)="selectField(field)" [class.selected]="selectedFieldId === field">
            {{ field.name }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- Drugi red -->
    <ion-row>
      <ion-col size="12">
        <div class="calendar-container">
          <ion-datetime (ionChange)="selectDate($event)" presentation="date" [min]="minDate"></ion-datetime>
        </div>
      </ion-col>
    </ion-row>

    <!-- Treći red -->
    <ion-row>
      <ion-col size="12">
        <div class="header-container">
          Minimum za rezervaciju je 1h
        </div>
      </ion-col>
    </ion-row>

    <!-- Četvrti red -->
    <ion-row>
      <ion-col size="12">
        <div class="time-slots-container">
          <div class="time-slot" *ngFor="let time of times"
          (click)="!isReserved(time) && selectTime(time)"
               [class.reserved]="isReserved(time)"
               [class.clicked]="isSelected(time)">
          {{ time.timeSlot }}
     </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Peti red -->
    <ion-row>
      <ion-col size="12">
        <div class="button-container">
          <ion-button (click)="reserve()">Rezervišite termin</ion-button>
          <ion-alert
            header="Uspešno ste rezervisali termin!"
            [buttons]="['OK']"
            (didDismiss)="setResult()"
          ></ion-alert>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
