<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Početna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <swiper-container>
          <swiper-slide>
            <ion-card>
              <img alt="Padel teren" src="https://www.italgreen.org/computedimage/campi-da-padel.i13627-kQvmQQH-w1000-h1000-l1-n1.jpg" />
              <ion-card-header>
                <ion-card-title>Novi teren!</ion-card-title>
                <ion-card-subtitle>Novo</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Otvaramo novi teren. Očekuju Vas najnovije pogodnosti!
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card>
              <img alt="Padel" src="https://media.danubeogradu.rs/2023/09/prvi-padel-belgrade-open-foto-pixabay-padel-6322458_1280.jpg" />
              <ion-card-header>
                <ion-card-title>Nova politika otkazivanja!</ion-card-title>
                <ion-card-subtitle>Novo</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Uvodimo novu politiku otkazivanja termina!
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <!-- <swiper-slide>Slide 3</swiper-slide> -->
        </swiper-container>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-title>Tvoji predstojeći termini</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div *ngFor="let reservation of reservations">
          <ion-card>
            <ion-card-header>
              <ion-card-title> {{ reservation.date | date }} {{ reservation.time }}</ion-card-title>
              <ion-card-subtitle>{{ reservation.field.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Molimo vas da ukoliko ste sprečeni da nam javite 24h pre zakazanog termina.
              Ponesite osmeh na lice i dobar vajb.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
